p{
	white-space: pre-wrap;
}
.landing_div{
	background: url(../images/makkah-landing.jpg);
	background-position: bottom;
	min-height: 400px;
	position: relative;
	text-align: center;
	margin-top: 0px;
}
.landing_div_section{
	position: relative;
	z-index: 1;
}
.landing_div_section *{
	margin-bottom: 5%;
}
.landing_heading, .landing_subheading{
	color: white;
}
.hajj_companion{
	background: url(../images/hajj-companion-landing.jpg);
	background-position: center;
	position: relative;
	min-height: 400px;
	text-align: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.future_hajj{
	background: url(../images/space.jpg);
	position: relative;
	min-height: 400px;
	text-align: center;
	background-repeat: no-repeat;
}
.hc_heading, .hc_text{
	color: white;
}
.color_overlay{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
