.ws-footer{
	position: absolute;
	bottom: 0px;
}
.login_div{
	width: 100%;
	text-align: center;
}
.login_form{
	margin-top: 20px;
	width: 90%;
	max-width: 500px;
	background-color: #efefef;
	border: 1px solid lightgrey;
}
.login_form h3{
	color: #d58f00;
	font-weight: bold;
	text-align: center;
}
.login_form input[type="text"], .login_form input[type="email"], .login_form input[type="password"]{
	width: 70%;
	margin-bottom: 10px;
}
.login_form input[type="submit"]{
	margin-bottom: 10px;
}