RewriteEngine On

# code snipett: https://www.inmotionhosting.com/support/website/htaccess/disable-caching-htaccess to prevent caching for debugging

<FilesMatch "\.(css|js)$">
	<IfModule mod_expires.c>
		ExpiresActive Off
	</IfModule>
	<IfModule mod_headers.c>
		FileETag None
		Header unset ETag
		Header unset Pragma
		Header unset Cache-Control
		Header unset Last-Modified
		Header set Pragma "no-cache"
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
	</IfModule>
</FilesMatch>

RewriteRule ^home$ index.php [NC,L]
RewriteRule ^register$ register.php [NC,L]
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^about$ about.php [NC,L]
RewriteRule ^contact$ contact.php [NC,L]
RewriteRule ^timeline$ timeline.php [NC,L]
RewriteRule ^forgot$ forgot.php [NC,L]